.mj3_contactutilbar {
	border-bottom: 1px solid #dddddd;
	margin: 0 0 30px;
	padding: 10px 0;
	
	.mj3_newcontactbtn {
		float: left;
	}

	.mj3_changelayoutbtn {
		float: right;
	}
}

.mj3_contactutilbarft {
	margin: 15px 0 30px;
	padding: 10px 0; 
	
	.mj3_newcontactbtn {
		float: left;
	}
}