<div ng-include src="'/js/angular/contact-toolkit/partials/toolkit-menu.html'" class="container-menu"></div>

<div id="container" class="container-fluid" ng-controller="HomeCtrl">
	<div class="row">
			<div class="container-body">
				<!-- home page content is injectec -->
				<div ng-bind-html="pageContent | sanitize"></div>
				<!-- end of home page content -->
		</div>
		
		<!-- paginator -->
		<ul ng-hide="true">
			<li dir-paginate="item in objPageConfig.pagination.tpages | itemsPerPage: 1" current-page="currentPage">{{item}}</li>
		</ul>
		<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/js/angular/helpers/partials/dirPagination.tpl.html"></dir-pagination-controls>
	</div>
</div>