<div ng-include src="'/js/angular/gofetch/partials/menu.html'" class="container-menu"></div>

<div class="row content main-page-container" ng-controller="EnrichCtrl">
	<div class="col-sm-9">
		<!-- page activity indicator -->
		<div ng-bind-html="pageActivity | sanitize"></div>
			
		<!-- initiate data loading process -->
		<div data-ng-init="loadEnrichPageContent()"></div>
		
		<div class="container-fluid bg-3 text-center">
			<div class="row" ng-bind-html="enrichPageContentActivity | sanitize">
	
			</div>	
			
			<div class="row">
				<div class="col-md-12 main-page-container" id="enrichChartContainerComplete">
	
				</div>
			</div>
	
		</div>
	</div>
</div>