<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!/"><img style="height: 20px;" src="/images/logos/guesttorque-icon.png" alt="Home"/></a>
		</div>
		
		<!-- Collect links -->
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class=""><a href="#!/filter"><span class="glyphicon glyphicon-filter"></span> Find</a></li>
				<li class=""><a href="#!/enrich"><span class="glyphicon glyphicon-dashboard"></span> Explore</a></li>
				<li class=""><a href="#!/target"><span class="glyphicon glyphicon-screenshot"></span> Target</a></li>
				<li class=""><a href="#!/channel"><span class="glyphicon glyphicon-qrcode"></span> Channel</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
        		<li><a href="/user/login/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      		</ul>
		</div>
	</div>
</nav>