/* tables */

	.mj3-table {
		
		th {
			cursor: pointer;
		}

		th.sorting_asc,
		th.sorting_desc {
			background: #f9f9f9;
			@include border-radius(4px 4px 0 0);
		}

		.even td.sorting_1 {
			background: #f9f9f9;
		}
	}